
/*  _______________________________________

	01 FOOTER - GENERAL STYLES
    _______________________________________  */



/* The #footer_bar  must stick to the bottom of the page, the fixed positionning is here necessary.
   If you modify the width of the footer, you'll need to change the margin-left value to center it.
   This value must be 50% of your width + 10px (because of the padding) */
   
#footer_bar  {
	position: fixed;
	bottom: 0px;
	margin:0 auto;
	width: 750px;
	left:50%;
	margin-left:-390px;
	height: 40px;
	padding:0px 10px 0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px #000;
	
	/* CSS3 Rounded Corners */
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	/* CSS3 Stylings - Glass effect */
	border-top: 1px solid rgba(0,0,0,0.3);
	background:#191919; /* Fallback color for older browsers */
	background: rgba(0,0,0,0.25);
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	behavior: url(PIE.htc);
}

/* General typography stylings, paragraphs and H2 tags */

#footer_bar  p {
	color:#cccccc;
	font-size:12px;
	padding:10px;
	line-height:18px;
	float:left;
}
#footer_bar  h2 {
	font-size:24px;
	line-height:24px;
	color:#FF6600;
	letter-spacing:-1px;
	font-weight:400;
	padding:7px 10px;
}
#footer_bar  a {
	color:#FF6600;
	text-decoration:none;
}

#footer_bar  .strong { /* Forcing a bold text */
	font-weight:bold;
}
#footer_bar  .italic { /* Forcing an italic text */
	font-style:italic;
}
.clear { /* Use this class between rows of content when you use columns */
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* Images containers */

#footer_bar  .imgshadow { /* Better style on dark background */
	background:#FFFFFE;
	padding:4px; /* Makes the light borders thanks to the background color */
	border:1px solid #333333;
	margin-top:5px;
	/* CSS3 shadow */
	-moz-box-shadow:0px 0px 5px #111111;
	-webkit-box-shadow:0px 0px 5px #111111;
	box-shadow:0px 0px 5px #111111;
	behavior: url(PIE.htc);
}
#footer_bar  .img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 0px;
}
#footer_bar  .img_right { /* Image sticks to the right */
	width:auto;
	float:right;
	margin:5px 0px 5px 15px;
}

/* Black background text box */

#footer_bar  .black_box {
	background: rgba(0,0,0,0.6);
	padding:4px 6px 4px 6px;
	margin-bottom:6px;

	/* CSS 3 Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	/* CSS 3 Inset Shadow */
	-webkit-box-shadow:inset 0 0 5px #111111;
	-moz-box-shadow:inset 0 0 5px #111111;
	box-shadow:inset 0 0 5px #111111;
	behavior: url(PIE.htc);
}

/* Social Icons */
.social{/* Positionning of the social icons container */
	width:250px;
	padding:0px;
	overflow:hidden;
	margin-top: 12px;
	margin-left: 15px;
	float:right;
}
#footer_bar  #social {
	float:right; /* Positionning of the social icons container */
	width:auto;
	margin:5px 15px 0px;
	padding:0px;
	overflow:hidden;
}
#footer_bar  #social li {
	margin-right:12px; /* 12px is the space between each one of them */
	_margin-right:0px; /* IE6 only */
	float:left;
	width:24px;
	padding:0px;
	height:32px;
}
#footer_bar  #social li:hover {
	margin-top:-1px; /* Icons move 1px up on hover, you can remove this if you don't like */
}

/* Tooltips for social icons */

a.tooltip:hover {
	text-decoration:none;
}
/* The "span" defines the text appearing on mouse hover, these are basic stylings */
a.tooltip span {
	display:none;
	padding:5px;
	bottom:44px;
	position:relative;
	width:55px;
	text-align:center;
	/* CSS3 Rounded Corners */
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(PIE.htc);
}
a.tooltip:hover span {
	display:block;
	position:absolute;
	border:1px solid #161616;
	color:#dddddd;
	font-size:12px;
	margin-left:-20px;
	background:#191919; /* Fallback color for older browsers */
	background:rgba(0,0,0,0.3);
}



/*  _______________________________________

	02 FOOTER - DROP DOWN MENU (DROP UP)
    _______________________________________  */



#footer_menu {
	margin: 0;
	padding: 0;
	width:auto;
}
#footer_menu li {
	list-style: none;
	float: left;
	font-size:12px;
	padding: 12px 14px 14px 14px;
	
	/* CSS3 Stylings - Glass effct */
	border-right:1px solid rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.1);
}
#footer_menu li:hover {
	background:#202020; /* Fallback color for older browsers */
	background: rgba(0,0,0,0.7);
}
#footer_menu li a {
	display: block;
	color: #cccccc;
	text-decoration: none;
}
#footer_menu li a:hover {
	color: #ffffff;
}
#footer_menu .imgmenu { /* Used for the home item, text is here hidden and replaced by an image */
	padding:5px 8px 3px 14px;
	float:left;
	background:url("icons/home1.png") 13px 5px no-repeat;
	width:36px;
	height:30px;
	border:none;
	border-right:1px solid rgba(0,0,0,0.4);
}
#footer_menu .imgmenu:hover {
	background:url("icons/home2.png") 13px 5px no-repeat;
}
#footer_menu li span {
	
}
.display_none{
	display:none;
}

/* Drop Up */

/* You may have heard about drop down menus, the principle is here the same except that
   the content is going up instead of down */
   
#footer_menu li ul.dropup {
   display: none; 
   width: 10em; /* Width for Opera */
}
#footer_menu  ul.dropup {
	display: none;
	position: absolute;
	margin: 0 0 0 -15px;
	bottom:40px; /* Distance to the bottom of the browser */
	border: 1px solid #111111;
	border-bottom:none;
	z-index: 2;
	background:#191919; /* Fallback color for older browsers */
	background: rgba(0,0,0,0.5);
	/* CSS3 Stylings - Rounded Corners */
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	behavior: url(PIE.htc);
}
#footer_menu li:hover li { /* Drop up default lists */
	float: none;
	background:none;
	border:none;
	border-bottom:1px solid #161616;
	padding:14px 10px 14px 10px;
}
#footer_menu li:hover a {
	color: #aaaaaa;
}
#footer_menu li:hover a:hover {
	color: #eeeeee;
}

/* Right Panel */

#footer_menu .right { /* Use the right class to push the content to the right */
	float:right;
	right:10px;
	border-left:1px solid rgba(0,0,0,0.3);
}



/*  _______________________________________

	03 FOOTER - COLUMNS CONTENT
    _______________________________________  */



/* Following the principles of the 960 grid, we define here 3 containers
   which can contain from 1 to 3 columns */
   
#footer_bar  .dropdown_1column, 
#footer_bar  .dropdown_2columns, 
#footer_bar  .dropdown_3columns {
	margin:4px auto;
	position:absolute;
	padding:10px 5px 10px 5px;
	display:none;
	text-align:left;
}

/* Drop Downs Sizes */

#footer_bar  .dropdown_1column {width: 140px;z-index: 2;}
#footer_bar  .dropdown_2columns {width: 280px;z-index: 2;}
#footer_bar  .dropdown_3columns1 {width: 700px;z-index: 2;}
#footer_bar  .dropdown_3columns2 {
	width: 700px;
	height:350px;
	overflow: auto;
	z-index: 2;
}
/* Showing Drop Down on Mouse Hover - Left aligned */

#footer_menu li:hover .dropdown_1column, 
#footer_menu li:hover .dropdown_2columns, 
#footer_menu  .dropdown_3columns1 {
	display: none;
	position: absolute;
	margin: 0 0 0 -10px;
	bottom:40px;
	border: 1px solid #111111;

	background:#191919; /* Fallback color for older browsers */
	background: rgba(0,0,0,1.0);
	/* CSS3 Stylings - Rounded Corners */
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	background: rgba(0,0,0,1.0);
	behavior: url(PIE.htc);
}
#footer_menu  .dropdown_3columns2 {
	display: none;
	position: absolute;
	margin: 0 0 0 -10px;
	bottom:40px;
	border: 1px solid #111111;

	background:#191919; /* Fallback color for older browsers */
	background: rgba(0,0,0,1.0);
	/* CSS3 Stylings - Rounded Corners */
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	background: rgba(0,0,0,1.0);
	behavior: url(PIE.htc);
}
/* Columns sizes, they have to be placed within a dropdown_columns DIV */

#footer_bar  .col_1,
#footer_bar  .col_2,
#footer_bar  .col_3 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
#footer_bar  .col_1 {width:130px;}
#footer_bar  .col_2 {width:270px;}
#footer_bar  .col_3 {
	width:690px;
	color: #FFF;
}

/* Lists stylings */

#footer_menu li ul.simple { /* Reset stylings for other lists inside columns */
	margin-left:5px;
}
#footer_menu li ul.simple li {
	border:none;
	padding:0px;
	width:120px;
	line-height:24px;
	margin-left:5px;
}


